[STATUS]
status=train

[IO]
type=csv
train_file=data/train.csv
text_column=comment_text
label_column=severe_toxic
batch_size=100
val_ratio=0.1
output_dir=egs/kaggle_toxic/models/severe_toxic_models

[MODEL]
type=rnn
rnn_type=gru
hidden_size=200
n_label=2
embedding_size=100
bidirectional=True
dropout_p=0.5
input_dropout_p=0.3
n_encoder_layer=2

[TRAIN]
use_gpu=False
n_epoch=10
learning_rate=0.001
record_step=200
loss_type=focal
