certifi==2018.4.16
chardet==3.0.4
idna==2.7
numpy==1.15.4
pandas==0.23.4
Pillow==5.3.0
protobuf==3.6.1
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.0
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboardX==1.4
torch==0.4.1
torchtext==0.3.1
torchvision==0.2.1
tqdm==4.24.0
urllib3==1.24.1
