[STATUS]
status=train

[IO]
type=csv
train_file=data/quora/train.csv
text_column=question_text
label_column=target
batch_size=100
val_ratio=0.1
output_dir=egs/kaggle_quora_insincere/models/toxic_models
pretrained_embedding=glove.840B.300d

[MODEL]
type=dpcnn
n_label=2
embedding_size=300
input_dropout_p=0.3
dropout_p=0.5

[TRAIN]
use_gpu=False
n_epoch=20
learning_rate=0.001
record_step=200
