[STATUS]
status=decode

[IO]
type=csv
decode_file=data/stanfordSentimentTreebank/test.csv
vocab_file=egs/StanfordSentimentTreebank/models/bigru/vocab.cache
text_column=sentence
batch_size=100
output_file=egs/StanfordSentimentTreebank/result/bigru.csv

[MODEL]
checkpoint=egs/StanfordSentimentTreebank/models/bigru/model_best.pth.tar
type=rnn
rnn_type=gru
hidden_size=200
n_label=5
embedding_size=100
bidirectional=True
dropout_p=0.5
input_dropout_p=0.3
n_encoder_layer=2

[DECODE]
output_type=prob
