[STATUS]
status=train

[IO]
type=csv
train_file=data/stanfordSentimentTreebank/train.csv
validate_file=data/stanfordSentimentTreebank/val.csv
text_column=sentence
label_column=label
batch_size=100
output_dir=egs/StanfordSentimentTreebank/models/bigru

[MODEL]
type=rnn
rnn_type=gru
hidden_size=200
n_label=5
embedding_size=100
bidirectional=True
dropout_p=0.0
input_dropout_p=0.3
n_encoder_layer=1

[TRAIN]
use_gpu=False
n_epoch=100
learning_rate=0.001
record_step=20
