[STATUS]
status=train

[IO]
type=csv
train_file=data/sst/df_stsa.fine.train
validate_file=data/sst/df_stsa.fine.dev
text_column=text
label_column=label
sep=\t
batch_size=1
output_dir=egs/StanfordSentimentTreebank/models/textcnn

[MODEL]
type=textcnn
n_label=5
embedding_size=100
dropout_p=0.5

[TRAIN]
use_gpu=False
n_epoch=10
learning_rate=0.01
record_step=200
optim_type=adam
weight_decay=0.2
