[STATUS]
status=train

[IO]
type=csv
train_file=data/stanfordSentimentTreebank/train.csv
validate_file=data/stanfordSentimentTreebank/val.csv
text_column=sentence
label_column=label
batch_size=100
output_dir=egs/StanfordSentimentTreebank/models/textcnn

[MODEL]
type=textcnn
n_label=5
embedding_size=100
dropout_p=0.5

[TRAIN]
use_gpu=False
n_epoch=10
learning_rate=0.01
record_step=100
optim_type=adam
weight_decay=0.2
