[STATUS]
status=train

[IO]
type=csv
train_file=data/train.csv
text_column=comment_text
label_column=toxic
batch_size=8
val_ratio=0.1
output_dir=egs/kaggle_toxic/models/toxic_models
fix_length=500

[MODEL]
type=transformer
n_label=2

[TRAIN]
use_gpu=False
n_epoch=10
learning_rate=0.001
record_step=200
