[STATUS]
status=decode

[IO]
type=csv
decode_file=data/test.csv
vocab_file=output/vocab.cache
text_column=comment_text
batch_size=10
output_file=output/result.csv

[MODEL]
checkpoint=output/model_best.pth.tar
type=rnn
rnn_type=gru
hidden_size=200
n_label=2
embedding_size=100
bidirectional=True

[DECODE]
