[STATUS]
status=train

[IO]
type=csv
train_file=data/train.csv
text_column=comment_text
label_column=toxic,severe_toxic,obscene,threat,insult,identity_hate
batch_size=100
val_ratio=0.1
output_dir=egs/kaggle_toxic/models/cnn_bce_model
pretrained_embedding=glove.6B.300d

[MODEL]
type=textcnn
n_label=6
embedding_size=100
input_dropout_p=0.5
dropout_p=0.5
filters=2,3,4,5
filter_size=700

[TRAIN]
use_gpu=False
n_epoch=10
learning_rate=0.001
record_step=200
optim_type=adam
loss_type=binary_cross_entropy
