[STATUS]
status=decode

[IO]
type=csv
decode_file=data/test.csv
vocab_file=egs/kaggle_toxic/models/cnn_bce_model/vocab.cache
text_column=comment_text
batch_size=100
output_file=egs/kaggle_toxic/result/bce_model_result.csv

[MODEL]
checkpoint=egs/kaggle_toxic/models/cnn_bce_model/model_best.pth.tar
type=textcnn
n_label=6
embedding_size=100
input_dropout_p=0.3
dropout_p=0.5
filters=3,4,5
filter_size=100

[DECODE]
output_type=prob
task_type=multi_label
