[STATUS]
status=decode

[IO]
type=csv
decode_file=data/test.csv
vocab_file=egs/kaggle_toxic/models/rcnn_bce_model/vocab.cache
text_column=comment_text
batch_size=100
output_file=egs/kaggle_toxic/result/bec_result.csv

[MODEL]
checkpoint=egs/kaggle_toxic/models/rcnn_bce_model/model_best.pth.tar
type=rcnn
rnn_type=gru
hidden_size=200
n_label=6
embedding_size=100
bidirectional=True
dropout_p=0.0
input_dropout_p=0.3

[DECODE]
output_type=prob
task_type=multi_label
