[STATUS]
status=decode

[IO]
type=csv
decode_file=data/test.csv
vocab_file=egs/kaggle_toxic/models/rnn_bce_model/vocab.cache
text_column=comment_text
batch_size=100
output_file=egs/kaggle_toxic/result/bce_model_result.csv

[MODEL]
checkpoint=egs/kaggle_toxic/models/rnn_bce_model/model_best.pth.tar
type=rnn
rnn_type=gru
hidden_size=200
n_label=6
embedding_size=300
bidirectional=True
dropout_p=0.5
input_dropout_p=0.3
n_encoder_layer=3
attention=True
attention_type=general

[DECODE]
output_type=prob
task_type=multi_label
